{% extends "models/page.html" %}

{% block title %}
	Shop
{% endblock %}

{% block navbar %}
	<li class="nav-item">
		<a class="nav-link text-primary material-icons" aria-current="page" href="{{ url_for("index") }}">store</a>
	</li>
	<li class="nav-item">
		<a class="nav-link material-icons" href="{{ url_for("cart") }}">shopping_cart</a>
	</li>
	<li class="nav-item">
		<a class="nav-link material-icons" href="{{ url_for("user") }}">person</a>
	</li>
{% endblock %}

{% block main %}
	<section class="m-4 mb-5 text-center">
		<h1>Welcome to Simple E-Commerce</h1>
		<input id="search" class="form-control rounded-5" placeholder="Search">
	</section>

	<section class="d-flex flex-wrap justify-content-center ">
		{% if products %}
			{% for i in products %}
				<div id="{{ i.id }}" class="card m-2 rounded-5" style="width: 20rem;">
					<img class="card-img-top" style="border-radius: 35px 35px 0 0;" height="350" src="{{ url_for('static', filename=i.image_path) }}">

					<hr>

					<div class="card-body">
						<p class="h4 card-title">{{ i.name }}</p>
						<p class="card-text">{{ i.description }}</p>
						<small>
							<strong>Category:</strong> {{ i.category }}
						</small>
					</div>
					
					<div class="card-footer" style="border: 0; border-radius: 0 0 30px 30px;">
						<div class="row align-items-center">
							<div class="col text-start">
								<p class="card-text fw-bold">${{ i.price }}</p>
							</div>
							<div class="col text-end">
								<button class="addCart btn btn-outline-success rounded-5">Add to cart</button>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endif %}
	</section>
{% endblock %}

{% block js %}
	<script src="{{ url_for('static', filename='js/shop/shop.js') }}"></script>
{% endblock %}

