small {
	background-color: white;
	text-align: center;
	width: 30px;
}

#forgot {
	text-decoration: none;
}

#content {
	width: 30%;
}

@media (max-width: 810px) {
	#content {
		width: 75%;
	}
}
@media (min-width: 811px) and (max-width: 1080px) {
	#content {
		width: 50%;
	}
}
