{% extends "login/main.html" %}

{% block title %}
	Create account
{% endblock %}

{% block header %}
	<div class="col h1">Sign up</div>
	<div class="w-100"></div>
	<div class="col">Let's dive into a new word of adventures.</div>
{% endblock %}

{% block form %}
	<div class="d-flex flex-column">
		<div class="col mb-2">
			<input autofocus type="text" maxlength="30" class="form-control rounded-5" id="username" placeholder="Username">
		</div>

		<div class="col mb-2">
			<input type="email" maxlength="254" class="form-control rounded-5" id="email" placeholder="Email">
		</div>

		<div class="col mb-2 position-relative">
			<input type="password" maxlength="128" class="form-control rounded-5" id="password" placeholder="Password">
			<span class="show position-absolute end-0 top-50 translate-middle material-icons">visibility_off</span>
		</div>

		<div class="col mb-3 position-relative">
			<input type="password" maxlength="128" class="form-control rounded-5" id="confirmation" placeholder="Confirm password">
			<span class="show position-absolute end-0 top-50 translate-middle material-icons">visibility_off</span>
		</div>
							
		<div class="col">
			<button id="send" class="btn btn-primary fw-bold p-2 rounded-5 w-100">Create account</button>	
		</div>
	</div>
{% endblock %}
				
{% block end %}
	<div class="position-relative">
		<hr>
		<small class="position-absolute start-50 top-50 end-50 translate-middle text-secondary pb-1">or</small>
	</div>

	<div class="row">
		<div class="col">
			<a class="btn btn-outline-dark fw-bold p-2 rounded-5 w-100" href="{{ url_for("login") }}">Sign in</a>
		</div>
	</div>
	
	<script src="{{ url_for('static', filename='js/login/create_account.js') }}"></script>
{% endblock %}

