{% extends "login/index.html" %}

{% block title %}
	Sign in
{% endblock %}

{% block header %}
	<div class="h1 m-0">Sign in</div>
	<div>Welcome back!</div>
{% endblock %}

{% block form %}
	<form method="post">
		{{ form.csrf_token }}
		{{ form.email }}
						
		<div class="mb-2 position-relative">
			{{ form.password }}
			<span class="show position-absolute end-0 top-50 translate-middle material-icons">visibility_off</span>
		</div>

		<div class="mb-2 text-center">
			<a id="forgot" class="text-primary fw-bold" href="forgot">Forgot password?</a>
		</div>

		{{ form.submit }}
	</form>
{% endblock %}

{% block end %}
	<div class="position-relative">
		<hr>
		<small class="position-absolute start-50 top-50 end-50 translate-middle text-secondary pb-1">or</small>
	</div>

	<div class="row">
		<div class="col">
			<a class="btn btn-outline-dark fw-bold p-2 rounded-5 w-100" href="create_account">Create account</a>
		</div>
	</div>
	
	<script src="{{ url_for('static', filename='js/login/login.js') }}"></script>
{% endblock %}

