{% extends "models/page.html" %}

{% block title %}
	Cart
{% endblock%}

{% block navbar %}
	<li class="nav-item">
		<a class="nav-link material-icons" href="{{ url_for("index") }}">store</a>
	</li>
	<li class="nav-item">
		<a class="nav-link text-primary material-icons" aria-current="page" href="{{ url_for("cart") }}">shopping_cart</a>
	</li>
	<li class="nav-item">
		<a class="nav-link material-icons" href="{{ url_for("user") }}">person</a>
	</li>
{% endblock %}

{% block main %}
	<main class="d-flex flex-wrap justify-content-center mt-4">
		{% if cart %}
			{% for item in cart %}
				<div id="{{ item.id }}" class="card m-2 rounded-5" style="width: 20rem; ">
					<img class="card-img-top" style="border-radius: 35px 35px 0 0;" height="350" src="{{ url_for('static', filename=item.image_path) }}">

					<hr>

					<div class="card-body">
						<p class="h4 card-title">
							{{ item.name }}
						</p>
						<p class="card-text">
							{{ item.description }}
						</p>
						<small>
							<strong>Category:</strong> {{ item.category }}
						</small>
					</div>
					
					<div class="card-footer" style="border: 0; border-radius: 0 0 30px 30px;">
						<div class="row align-items-center">
							<div class="col text-start">
								<p class="card-text fw-bold">${{ item.price }}</p>
							</div>
							<div class="col text-end">
								<button class="removeItem btn btn-outline-danger rounded-5">Remove</button>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<h1 class="fst-italic">Empty</h1>
		{% endif %}
	</main>
{% endblock %}

{% block js %}
	<script src="{{ url_for('static', filename='/js/cart/cart.js') }}"></script>
{% endblock %}

